*{
    margin:0;
    padding:0;
    font-family: 'Bebas Kai', sans-serif;
   
}
body{
    background-image: url(../imagenes_katia/fondo6.jpg);
    background-size : contain;
}
#cabecera{
    height: 150px;
    /*background-repeat: no-repeat;*/
}
#titulo{
    display: left;
    margin-left: 70px;
    margin-bottom: 45px;
}

#logo{
    margin-top: 20px;
}

#encabezado {
    height: 205px;
    background-image: url(../imagenes_katia/prueba3.jpg);
}
#menu{
    margin: 0 auto;
    text-align: center;
}
li{
    display: inline;
}


ul li a{
   
    color:black;
    text-decoration: none;
    padding: 10px 12px;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
}
ul{
    list-style: none;
}

ul li a:hover{
    color: white;
   /* font-size: 25px;*/
}

/*CUERPO */
#cuerpo{
    margin: 0 auto;
   margin-top: 15px;
    width: 1085px;
    height: 3200px;
    background-color: #c8b59d;
    border: 1px solid rgba(43, 156, 156, 0.438);
   /* background-color: rgba(43, 156, 156, 0.438);*/
}
/*IMAGEN CUERPO */

#imagenInicio {
    position: relative;
    display: inline-block;
}
#letras {
    position: absolute;
    bottom: 85px;
    right: 50px;
    font-size: 40px;
    font-weight: bolder;
    /*color: steelblue;*/
}
/* CONTENIDO CUERPO*/

#cuerpo p{
    margin-top: 20px;
    margin-left: 20px;
}


#cuerpo hr{
    width: 90%;
    margin-left: 40px;
}
/*IMAGENES CUERPO*/


.actividades{
    width: 1000px;
    margin-top: 30px;
    margin-left:20px;
    margin-right: 20px;
    border: 1px solid black;
}

/*WINDSURF*/
#windsurf{
    height: 320px;
}
.actividades h2{
    float: left;
    width: 150px;
    margin-left: 20px;
    margin-top:20px;
}
audio{
    margin-top: 30px;
    margin-left: 140px;
}
#parrafo1{
    width: 680px;
}
#windsurf p{
    float: left;
}
/*PADDLESURF*/
#paddlesurf{
    height: 200px;
}

/*SURF*/
#surf{
    height:300px ;
}
#surf p{
    width: 680px;
    float: left;
}
/*BUCEO*/
#buceo{
    height:200px ;
}
#buceo p{
    width: 680px;
    float: left;
}
/*MOTOS DE AGUA, BARCAS, ESQUI, FLYBOARD*/
#motos, #barcas, #esqui, #flyboard, #kayak{
    height:200px ;
}
#motos p, #barcas p, #esqui p, #flyboard p, #kayak p{
    width: 680px;
    float: left;
}
#motos h2, #barcas h2, #esqui h2, #flyboard h2, #kayak h2{
    width:300px;
}


/*IMAGENES IZQUIERDA*/
#windsurf img, #surf img, #motos img, #esqui img, #kayak img{
    float: left;
}
 

/*IMAGENES DERECHA*/

#paddlesurf img, #buceo img, #barcas img, #flyboard img{
    float: right;
}

#pie{
    width:2000;
    height: 120px;
    background-image: url(../imagenes_katia/prueba4.jpg);

}
#email, #movil, #iconos{
    width: 250px;
    height: 20px;
    margin-left: 600px;
   
}
#movil{
    margin-top: 10px;
}
#iconos{
    margin-top: 20px;
    margin-left:630px;
}
#email img, #movil img{
    float: left;
}
#email p, #movil p{
    width: 200px;
    float: left;
    
}